@keyframes moveInRight {
  0% {
    transform: translateX(-20rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    transform: translateX(20rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif; }

.main-container {
  height: 100vh;
  width: 100vw;
  position: relative; }
  .main-container .video-gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    overflow: hidden;
    z-index: 2; }
  .main-container .video-container {
    object-fit: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .main-container .heading-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding-top: 4rem;
    padding-left: 6rem;
    padding-bottom: 4rem; }
    .main-container .heading-container .heading-main {
      font-size: 6rem;
      font-weight: 800;
      color: #fff;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      text-transform: uppercase;
      z-index: 1;
      letter-spacing: 0.5rem; }
  .main-container .description {
    font-size: 2rem;
    color: #fff;
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem; }
  .main-container .links-container {
    display: inline-block;
    justify-content: center;
    width: 24rem;
    height: 1.5rem;
    position: absolute;
    top: 7%;
    right: 1%; }
    .main-container .links-container .about-us:link,
    .main-container .links-container .about-us:visited {
      font-size: 2.7rem;
      text-decoration: none;
      color: #fff;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-weight: 500;
      letter-spacing: 0.2rem;
      border: 0.2rem #fff solid;
      padding: 0.6rem 2rem;
      text-transform: uppercase;
      transition: 0.4s ease-in-out; }
    .main-container .links-container .about-us:hover {
      background-color: #fff;
      color: black; }
  .main-container .box {
    background-color: #f2f5f597;
    border-radius: 1rem;
    height: 30rem;
    width: 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center; }
    .main-container .box .heading-sub {
      font-size: 4rem;
      color: #222831;
      text-transform: uppercase;
      margin-top: 4rem;
      margin-bottom: 4rem;
      letter-spacing: 1px; }
    .main-container .box .box-container {
      display: block;
      justify-content: center;
      align-items: center;
      height: 15rem;
      width: 50rem;
      align-items: center; }
      .main-container .box .box-container input[type="text"] {
        width: 30rem;
        height: 5rem;
        padding-right: 1rem;
        display: inline-block;
        color: #7ed56f;
        font-size: 2rem;
        text-align: center;
        text-indent: 2rem;
        border-radius: 1rem;
        border: black 3px solid;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.4s ease;
        animation-name: moveInRight;
        backface-visibility: hidden;
        animation-duration: 0.8s;
        animation-timing-function: ease ease-in-out; }
        .main-container .box .box-container input[type="text"]:hover {
          width: 40rem;
          border-radius: 2rem; }
        .main-container .box .box-container input[type="text"]:focus, .main-container .box .box-container input[type="text"]:active {
          width: 40rem;
          outline: none;
          border-radius: 2rem;
          border: #28b485 solid 3px;
          background-color: rgba(0, 0, 0, 0.5);
          font-weight: inherit;
          color: #fff;
          font-family: inherit;
          font-size: 1.8rem; }
        .main-container .box .box-container input[type="text"]::placeholder {
          color: #fff;
          font-size: 1.8rem;
          text-transform: uppercase;
          letter-spacing: 0.15rem;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
      .main-container .box .box-container button[type="submit"] {
        font-size: 1.6rem;
        text-align: center;
        padding: 0rem 2rem;
        margin-top: 3rem;
        width: 17rem;
        height: 5rem;
        letter-spacing: 0.1rem;
        border-radius: 50rem;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.6);
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        transition: all ease 0.4s;
        animation: moveInLeft 0.8s ease-in-out;
        box-shadow: 0 3rem 8rem black;
        border: none; }
        .main-container .box .box-container button[type="submit"]:hover, .main-container .box .box-container button[type="submit"]:focus {
          transform: translateY(-0.8rem);
          outline: none;
          background-color: black;
          color: #fff; }
        .main-container .box .box-container button[type="submit"]:active {
          transform: translateY(0rem); }
          .main-container .box .box-container button[type="submit"]:active:placeholder {
            display: none; }
