<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href= '{{ url_for('static',filename='main.css')}}'>
    <script src="./app.js"></script>


</head>
<body>
    <div class="main-container">
        <div class="video-gradient">
            <div class="video-container">
                <video autoplay muted loop>
                    <!--<source src="./Typing Numbers.mp4" type="video/mp4" >-->
                    <source src="{{ url_for('static',filename ='Typing Numbers.mp4')}}" type="video/mp4" >
                </video>
            </div>
        </div>

        <div class="heading-container">


                <h1 class="heading-main">
                    Sentiment Analysis of Tweets
                </h1>

            <div class="description">
                <p>Made By Chinmay Patil, Pranay Yadav and Parag Wayangankar</p>
            </div>
        </div>
        <div class="links-container">
            <a href="#" class="about-us">About us</a>
        </div>
        <div class="box">
                <div class="sub-container">
                    <h2 class="heading-sub">Search Keywords</h2>
                </div>

                <form class="box-container" id="myForm" action="{{url_for('get_data')}}" method="POST" >
                    <input type="text" name="text" class="text" placeholder="Enter a Keyword" required onfocus="this.placeholder=''" onblur="this.placeholder='Enter a Keyword'">
                <br>

                <button type="submit" class="button-submit" >Get Results</button>

                </form>





        </div>




    </div>


</body>
</html>
