<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href= '{{ url_for('static',filename='result.css')}}'>
  <title>Sentiment Analysis</title>

</head>
<body>
  <table class="centered thick-border">
          <tr>
                  <th>Text</th>
                  <th>Sentiment</th>
          </tr>
          {% for k, v in lines.items() %}
                  <tr>
                          <td>{{ k }}</td>
                          <td>{{ v }}</td>
                  </tr>
          {% endfor %}
  </table>


</body>
